﻿@model IEnumerable<Filmy_Knihy.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

@section Navigation
{
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Films", "Index", "Films")</li>
<li class="active">@Html.ActionLink("Books", "Index", "Books")</li>
<li><a href="#contact">Contact</a></li>
}


    <!-- START THE FEATURETTES -->
    @{int i = 0;
        foreach (var item in Model)
        {

            if (i % 2 != 0)
            {
                <hr class="featurette-divider">

                <div class="container">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">@Html.DisplayFor(modelItem => item.Name) <br /> <span class="text-muted"><h3>@Html.DisplayFor(modelItem => item.Nazev)</h3></span></h2>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(modelItem => item.Author)</p>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(modelItem => item.Genre)</p>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.publishedYear): @Html.DisplayFor(modelItem => item.publishedYear)</p><br />
                            <h4><strong>@Html.DisplayNameFor(model => model.Description):</strong></h4>
                            <p class="lead text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="col-md-5">
                            <a href="@Url.Action("Edit", "Books", new { id = item.Id })"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></a><br />
                            <p>
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-th-list" })
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash" })
                            </p>
                        </div>
                    </div>
                </div>
                i++;

            }
            else
            {

                <hr class="featurette-divider">

                <div class="container">
                    <div class="row featurette">
                        <div class="col-md-7 col-md-push-5">
                            <h2 class="featurette-heading">@Html.DisplayFor(modelItem => item.Name) <br /> <span class="text-muted"><h3>@Html.DisplayFor(modelItem => item.Nazev)</h3></span></h2>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(modelItem => item.Author)</p>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(modelItem => item.Genre)</p>
                            <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.publishedYear): @Html.DisplayFor(modelItem => item.publishedYear)</p><br />
                            <h4><strong>@Html.DisplayNameFor(model => model.Description):</strong></h4>
                            <p class="lead text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="col-md-5 col-md-pull-7">
                            <a href="@Url.Action("Edit", "Books", new { id = item.Id })"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></a><br />
                            <p>
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-th-list" })
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash" })
                            </p>
                        </div>
                    </div>
                </div>
                i++;

                        <!-- /END THE FEATURETTES -->
            }
        }
    }

</body>
</html>
