﻿@model Filmy_Knihy.Models.Film

@{
    Layout = "~/Views/Films/_LayoutPage1.cshtml";
}

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Film</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nazev)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazev)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd class="text-justify">
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
        <div>
            <iframe id="myIframe" class="center-block" width="1000" height="600" frameborder="0" allowfullscreen></iframe><br />
            <script type="text/javascript">
            var embed = function (url) {
                var id = url.split("?v=")[1];
                var embedlink = "https://www.youtube.com/embed/" + id;
                document.getElementById("myIframe").src = embedlink;
            }

            embed("@Model.Trailer");
            </script>
        </div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

