﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<Filmy_Knihy.Models.Film>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        @Html.ActionLink("Create New", "Create")

        @using (Html.BeginForm("Index", "Films", FormMethod.Get))
            {
            <strong>Search By: </strong>
            @Html.RadioButton("searchBy", "Name", true, new { @label = "Name" }) <Label>Name</Label>
            @Html.RadioButton("searchBy", "Genre", new { @label = "Genre" }) <Label>Genre</Label>
            @Html.RadioButton("searchBy", "Released", new { @label = "Released" }) <Label>Released Year</Label> <br />
            <input id="Search" name="Search" type="text" autofocus = "autofocus" placeholder="Search" /> <button type="button" class="btn btn-default btn-sm">Search</button>
            @Html.ActionLink("Show All", "Index", "Films", null, new { @class = "btn btn-default btn-sm" })

        }
    </p>
</div>

@section Navigation
{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Films", "Index", "Films")</li>
    <li>@Html.ActionLink("Books", "Index", "Books")</li>
    <li><a href="#contact">Contact</a></li>
}


<!-- START THE FEATURETTES -->
@{int i = 0;
    foreach (var item in Model)
    {

        if (i % 2 == 0)
        {
            <hr class="featurette-divider">

            <div class="container">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">@Html.DisplayFor(modelItem => item.Name) <br /> <span class="text-muted"><h3>@Html.DisplayFor(modelItem => item.Nazev)</h3></span></h2>
                        <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.First().Genre): @Html.DisplayFor(modelItem => item.Genre)</p>
                        <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.First().ReleaseDate): @Html.DisplayFor(modelItem => item.ReleaseDate)</p><br />
                        <h4><strong>@Html.DisplayNameFor(model => model.First().Description):</strong></h4>
                        <p class="lead text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="col-md-5">
                        <a href="@Url.Action("Edit", "Films", new { id = item.Id })"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></a><br />
                        <p>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-th-list" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash" })
                        </p>
                    </div>
                </div>
            </div>
            i++;

        }
        else
        {

            <hr class="featurette-divider">

            <div class="container">
                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
                        <h2 class="featurette-heading">@Html.DisplayFor(modelItem => item.Name) <br /> <span class="text-muted"><h3>@Html.DisplayFor(modelItem => item.Nazev)</h3></span></h2>
                        <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.First().Genre): @Html.DisplayFor(modelItem => item.Genre)</p>
                        <p class="breadcrumb lead">@Html.DisplayNameFor(model => model.First().ReleaseDate): @Html.DisplayFor(modelItem => item.ReleaseDate)</p><br />
                        <h4><strong>@Html.DisplayNameFor(model => model.First().Description):</strong></h4>
                        <p class="lead text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <a href="@Url.Action("Edit", "Films", new { id = item.Id })"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></a><br />
                        <p>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-th-list" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash" })
                        </p>
                    </div>
                </div>
            </div>
            i++;
                        <!-- /END THE FEATURETTES -->
        }
    }
}

@Html.PagedListPager(Model,
    page => Url.Action("Index",
        new
        {
            page,
            searchBy = Request.QueryString["searchBy"],
            search = Request.QueryString["search"]
        }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })


